p
{
	line-height: 1.7em;
}

#original-rom { display: none; }

.glyphicon { margin-right: 5px; }
#original-rom-result.glyphicon-ok         { color: green; }
#original-rom-result.glyphicon-remove { color: red;   }

.mono { font-family: monospace; }

.btn-full-width
{
	width: 100%;
}

.top-spaced
{
	margin-top: 20px;
}

#custom-seed 
{
	text-align: center;
}
