p
{
	line-height: 1.7em;
}

.header .version-number
{
	font-size: 60%;
	color: grey;
}

.header .beta
{
	font-variant: small-caps;
	font-size: 60%;
	color: grey;
}

#gen-group-container { width: 100%; }
#gen-btn-container { width: 50%; }
#generate-randomized-rom { width: 100%; }

#original-rom { display: none; }

.glyphicon { margin-right: 5px; }
#original-rom-result.glyphicon-ok     { color: green; }
#original-rom-result.glyphicon-remove { color: red;   }

.mono { font-family: monospace; font-size: small; }
.centered { margin: 0 auto; }

#generation-time
{
	padding: 10px;
	font-size: 60%;
	background: white;
	z-index: 500;

	position: fixed;
	top: 0;
	right: 0;
}

.btn-full-width
{
	width: 100%;
}

.top-spaced
{
	margin-top: 20px;
}

#custom-seed
{
	text-align: center;
}

.float-left { float: left; }
.float-right { float: right; }

#modal-changelog-win .modal-body ul
{
	margin-top: 5px;
	margin-bottom: 15px;
}

#modal-changelog-win .modal-body li
{
	font-size: 80%;
	line-height: 160%;
}
